<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body class="p-8 bg-white">
<%= yield %>
</body>
</html>